<h1>Profile Edit</h1>

    <!-- <h2>Welcome, <%= user.username %>!</h2>
      <p>This is your profile page my friend!</p>
        <button> <a href="./profile">Reload the page</a> </button>
     -->
        <form id="userForm">
            <label for="name">Name:</label>
            <input type="text" name="name" required>
            
            <label for="surname">Surname:</label>
            <input type="text" name="name" required>
            
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            
            <label for="country">Country:</label>
            <input type="text"  name="country" required>
            
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            
            <button type="submit">Edit profile</button>
        </form>