<h1><%= appTitle %> 🚀</h1>

<h1>Search</h1>
<form action="/festival-search" method="GET">
  <input type="text" name="name" />
  <button type="submit">Search</button>
</form>

<form action="/profile/edit-profile" method="POST">
  <button type="submit">Edit Profile</button>
</form>

<p>All the festivals here!</p>

<ul>
<% allFestivals.forEach(festival => { %>
   <li>
        <h3><%-festival.name%></h3>
        <a href="/festival/edit-festival/<%-festival._id%>">Edit Festival</a>
    </li>
    <% }) %>
</ul>