<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gighive</title>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container nav-container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <!-- <div class="gighive-logo"> -->
              <a href="/"><img class="navbar-brand brand-image" src="/images/GIGHIVE-Logo-WHITE.png" alt="gighive-logo"></a>
            <!-- </div> -->
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item" style="list-style-type: none;">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profile">My Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                <li class="nav-item">
                  <form action="/search" method="GET">
                    <input type="text" name="query" />
                    <button type="submit">Search</button>
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>        
    </div>

    <%- body %>

    <script src="/js/script.js"></script>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>    
    $(document).ready(function() { 
      $(".nav-tabs a").click(function() {
          $(this).tab('show');
        });
      });
  </script>
  </body>
</html>