<div class="jumbotron1 search-container">
    <div class="container">
        <h1>Search Result Page</h1>
        <ul class="rows-fest">
            <% allFestivals.forEach(oneFestival => { %>
              <li><a href="/festival/<%-oneFestival.id%>">
                  <img src=<%-oneFestival.imageUrl%> alt="Artwork"></a></li>
                <% }) %>
        </ul>
    </div>