<div class="jumbotron">
  <div class="container">
    <h1>SUBMIT FESTIVAL</h1>
    <form action="/festival/add-festival" method="POST" enctype="multipart/form-data">
        <label>
          Name of Festival
          <input type="text" name="name" />
        </label>
        <label>
            Name of Venue
            <input type="text" name="venue" />
          </label>
          <label>
          Info
            <input type="text" name="textInfo" />
          </label>
          <label>
            Genre
            <select multiple name="genre">
              <option value="">--Genre--</option>
                <option value="House">House</option>
                <option value="Techno">Techno</option>
                <option value="Trance">Trance</option>
            </select>
          </label>
          <label>
            Date
            <input type="date" name="date" />
          </label>
          <label>
            Artwork
            <input type="file" name="imageUrl" />
          </label>
          <label>
            Social Media
            <input type="text" name="socialMedia" />
          </label>
        <button type="submit">Add new festival</button>
      </form>
      <% if (typeof errorMessage !== 'undefined') { %> <%= errorMessage %> <% } %>
    </div>
  </div>