<h1>ADD NEW FESTIVAL</h1>

<form action="/festival/add-festival" method="POST" enctype="multipart/form-data">
    <label>
      Name of Festival (*) 
      <input type="text" name="name" />
    </label>
    <label>
        Name of Venue (*)
        <input type="text" name="venue" />
      </label>
      <label>
       Info
        <input type="text" name="textInfo" />
      </label>
      <label>
        Genre (*)
        <input type="text" name="genre" />
      </label>
      <label>
        Date (*)
        <input type="text" name="date" />
      </label>
      <label>
        Artwork
        <input type="file" name="image" />
      </label>
      <label>
        Social Media
        <input type="text" name="socialMedia" />
      </label>
  
    <button type="submit">Add new festival</button>
  </form>
  
  <% if (typeof errorMessage !== 'undefined') { %> <%= errorMessage %> <% } %>
  